/* Stylesheet for Europe website */

/* Remove all padding and margins from every tag */
* {
  padding: 0px;
  margin: 0px;
}

/* general page styles */
body {
  background-color: rgb(12, 34, 56);
  color: rgb(255, 255, 255);
  font-family: Arial, Verdana, sans-serif;
}


/* Format main headings */
h1 {
  color: rgb(255, 255, 0);
  margin-bottom: 20px;
  margin-top: 30px;
}

/* Format h2 heading */
h2 {
  margin-bottom: 5px;
}

/* Format paragraphs */
p {
  margin-bottom: 10px;
}

/* Format unordered list */
ul {
  margin: 0 0 15px 30px;

}

/* Formatting links */
a {
  color: rgb(64, 242, 255);
  /* Remove the underline */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(158, 248, 255);
}

/* layout styles */
.header {
  margin: 20px;
  text-align: center;
}

/* styles for homepage */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.intro {
  padding:20px;
}


.main-content {
  padding: 20px;


}

/* styles for pages about each country */
S
.country_intro {
  padding-left: 10px;
  padding-right: 10px;
}

.country-container {
  display: grid;
   /* grid-template-columns: repeat(3, 1fr);  */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;

}

/*  contains info about a specific place */
.card {
  border: solid;
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  margin: 5px;

}
